<?define Manufacturer="Illallangi Enterprises" ?>
<?define AppName="GitHub PowerShell Module" ?>
<?define Version="0.0.0.1" ?>

<?if $(sys.BUILDARCH)=x64 ?>
<?define Win64="yes" ?>
<?define PlatformProgramFilesFolder="ProgramFiles64Folder" ?>
<?define PlatformSystemFolder="System64Folder" ?>
<?define ProductId="{0C8515B1-24D0-4A4E-88A0-F48641101778}" ?>
<?define UpgradeCode="{B4462991-78D6-4079-A42B-ADB6F749CFE7}" ?>
<?else ?>
<?define Win64="no" ?>
<?define PlatformProgramFilesFolder="ProgramFilesFolder" ?>
<?define PlatformSystemFolder="SystemFolder" ?>
<?define ProductId="{7F4AC1D7-2F0C-44D0-AD94-1081C8034B0C}" ?>
<?define UpgradeCode="{1B0AEBA2-73D0-4C16-B9A5-31E5CF32F87F}" ?>
<?endif ?>

<Wix xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="$(var.AppName) $(sys.BUILDARCH) v$(var.Version)"
           Manufacturer="$(var.Manufacturer)"
           Version="$(var.Version)"
           Id="$(var.ProductId)"
           UpgradeCode="$(var.UpgradeCode)"
           Language="1033"
           Codepage="1252" >

    <Package InstallerVersion="200" Compressed="yes" Id="*" />
    <Media Id="1" Cabinet="package.cab" EmbedCab="yes" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.Version)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND"/>

      <UpgradeVersion Maximum="$(var.Version)"
                      IncludeMaximum="no"
                      OnlyDetect="no"
                      Language="1033"
                      Property="OLDPRODUCTFOUND"/>
    </Upgrade>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Component Id="Empty" Guid="" />
      <Directory Id="$(var.PlatformSystemFolder)">
        <Directory Id="WindowsPowerShell" Name="WindowsPowerShell">
          <Directory Id="v1.0" Name="v1.0">
            <Directory Id="Modules" Name="Modules">
              <Directory Id="SOFTWAREDIR" Name="Illallangi.GitHub" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!--
    <Icon Id="favicon.ico" SourceFile="$(var.source)\favicon.ico" />
    -->
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="favicon.ico" />
    <Property Id="ARPNOMODIFY" Value="1" />

    <Feature Id="Complete" Level="1" Title="$(var.AppName)">
      <Component Id="IllallangiGitHubDllC" Directory="SOFTWAREDIR" Guid="{128F2E8F-113A-4195-8666-671D04F4D492}" Permanent="yes" >
        <File Id="IllallangiGitHubDllC" KeyPath="yes" Source="$(var.source)\Illallangi.GitHub.dll" />
      </Component>
      <Component Id="IllallangiGitHubPowerShellDllC" Directory="SOFTWAREDIR" Guid="{4FBA63C9-BE55-44E1-AD2D-D159E289CF6B}" Permanent="yes" >
        <File Id="IllallangiGitHubPowerShellDllC" KeyPath="yes" Source="$(var.source)\Illallangi.GitHub.PowerShell.dll" />
        <File Id="IllallangiGitHubPowerShellDllCConfig" Source="$(var.source)\Illallangi.GitHub.PowerShell.dll.Config" />
        <File Id="IllallangiGitHubDllCPSD1" Source="$(var.source)\Illallangi.GitHub.psd1" />
        <File Id="IllallangiGitHubDllCPSM1" Source="$(var.source)\Illallangi.GitHub.psm1" />
      </Component>
      <Component Id="NewtonsoftJsonDllC" Directory="SOFTWAREDIR" Guid="{40CAFE9F-8506-4303-949E-363DB2841885}" Permanent="yes" >
        <File Id="NewtonsoftJsonDllF" KeyPath="yes" Source="$(var.source)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="CommonLoggingdllC" Directory="SOFTWAREDIR" Guid="{C6761973-10E8-45A4-9786-21CD90D594A7}" Permanent="yes" >
        <File Id="CommonLoggingdllF" KeyPath="yes" Source="$(var.source)\Common.Logging.dll" />
      </Component>
      <Component Id="CommonLoggingLog4NetdllC" Directory="SOFTWAREDIR" Guid="{FBC439C6-B5C8-4222-B827-BA3274F6F59F}" Permanent="yes" >
        <File Id="CommonLoggingLog4NetdllF" KeyPath="yes" Source="$(var.source)\Common.Logging.Log4Net.dll" />
      </Component>
      <Component Id="IllallangiETagCachedllC" Directory="SOFTWAREDIR" Guid="{99A3525A-58D7-40F6-BFB3-F97EA8E173E5}" Permanent="yes" >
        <File Id="IllallangiETagCachedllF" KeyPath="yes" Source="$(var.source)\Illallangi.ETagCache.dll" />
      </Component>
      <Component Id="IllallangiLiteOrmdllC" Directory="SOFTWAREDIR" Guid="{155700B1-3C88-4E53-B6BD-0FFF8214A585}" Permanent="yes" >
        <File Id="IllallangiLiteOrmdllF" KeyPath="yes" Source="$(var.source)\Illallangi.LiteOrm.dll" />
      </Component>
      <Component Id="IllallangiNinjectCmdletdllC" Directory="SOFTWAREDIR" Guid="{DBAF6991-C959-4229-A2D4-292C6EB29780}" Permanent="yes" >
        <File Id="IllallangiNinjectCmdletdllF" KeyPath="yes" Source="$(var.source)\Illallangi.NinjectCmdlet.dll" />
      </Component>
      <Component Id="IllallangiRestClientdllC" Directory="SOFTWAREDIR" Guid="{E8EDD93A-B215-45FC-935D-4066B2F1CEF1}" Permanent="yes" >
        <File Id="IllallangiRestClientdllF" KeyPath="yes" Source="$(var.source)\Illallangi.RestClient.dll" />
      </Component>
      <Component Id="log4netdllC" Directory="SOFTWAREDIR" Guid="{C1043EC5-10D5-4A2A-BAF7-6BE25D059F49}" Permanent="yes" >
        <File Id="log4netdllF" KeyPath="yes" Source="$(var.source)\log4net.dll" />
      </Component>
      <Component Id="NinjectdllC" Directory="SOFTWAREDIR" Guid="{97DAE7C9-EA1A-4D5D-9C67-44B86D2DD262}" Permanent="yes" >
        <File Id="NinjectdllF" KeyPath="yes" Source="$(var.source)\Ninject.dll" />
      </Component>
      <Component Id="RestSharpdllC" Directory="SOFTWAREDIR" Guid="{1EB7AF40-AADD-443C-AC4D-0BF157FA005D}" Permanent="yes" >
        <File Id="RestSharpdllF" KeyPath="yes" Source="$(var.source)\RestSharp.dll" />
      </Component>
      <Component Id="SQLiteInteropdllC" Directory="SOFTWAREDIR" Guid="{B3C0F60F-0423-4BD5-BFF1-61763A512418}" Permanent="yes" >
        <File Id="SQLiteInteropdllF" KeyPath="yes" Source="$(var.source)\SQLite.Interop.dll" />
      </Component>
      <Component Id="SystemDataSQLitedllC" Directory="SOFTWAREDIR" Guid="{B2CA4B0E-FF4F-4723-98F6-2E068DCB60EF}" Permanent="yes" >
        <File Id="SystemDataSQLitedllF" KeyPath="yes" Source="$(var.source)\System.Data.SQLite.dll" />
      </Component>
      <Component Id="SystemDataSQLiteLinqdllC" Directory="SOFTWAREDIR" Guid="{A24CE95C-68D3-4329-A858-476C20251414}" Permanent="yes" >
        <File Id="SystemDataSQLiteLinqdllF" KeyPath="yes" Source="$(var.source)\System.Data.SQLite.Linq.dll" />
      </Component>
      <Component Id="TavisUriTemplatesdllC" Directory="SOFTWAREDIR" Guid="{440EF678-2CD2-4059-A8C7-5FC93E836BE8}" Permanent="yes" >
        <File Id="TavisUriTemplatesdllF" KeyPath="yes" Source="$(var.source)\Tavis.UriTemplates.dll" />
      </Component>
      <ComponentRef Id="Empty" />
    </Feature>


    <UI Id="Minimal">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="WelcomeDlg" />
      <DialogRef Id="VerifyReadyDlg" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog='ExitDialog' Control='Finish' Event='EndDialog' Value='Return'>1</Publish>
    </UI>

    <UIRef Id="WixUI_Common" />

    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>
  </Product>
</Wix>