<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GitHubConfig" type="Illallangi.GitHub.PowerShell.Config.GitHubConfig,Illallangi.GitHub.PowerShell"/>
  </configSections>
  <GitHubConfig ClientId="e51dd1828bc3244b7cb0" ClientSecret="c99416b4a08361042c3afc2fe040f7e1662a4769" />
</configuration>